<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>

    <nav class="navbar navbar-expand-sm" style="background-color:rgb(126, 215, 211);">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img  src="static/images/bh_logo.jpg" alt="" href="home" style="width: 60px;height: 60px;" class="rounded-pill">
            </a>
             
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="shop_home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-light" href="add_product">Add Product</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-light" href="bookings">Bookings</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link fw-light" href="logout">Logout</a>
                    </li>    
                </ul>
            </div>
        </div>
    </nav>
    
</body>
</html>